.container {
  display: flex;
  min-height: 100vh;
}

.left {
  width: 160px;
  height: 100%;
  padding-top: 24px;
  position: fixed;
}

.right {
  flex-grow: 1;
  margin-left: 160px;
  padding: 26px 16px 0;
  background: #f8f9fa;
  padding-bottom: 24px;
}
