body {
    background-color: lightblue;
}

footer {
    width: auto;
    text-align: center;
    background-color: aquamarine;
}

p {
    font: 100;
    font-family: 'Courier New', Courier, monospace;
}

.contact_button {
    width: 48px;
    height: 48px;
}

table {
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
  
th {
    background-color: #f2f2f2;
}

#list-container {
    margin-bottom: 20px;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
}

#pagination button {
    margin-right: 10px;
    margin-bottom: 10px;
}