body {
    background-color: lightblue;
}
  
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

footer {
    width: auto;
    text-align: center;
    background-color: aliceblue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.contact-button {
    width: 48px;
    height: 48px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.course {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.course h1 {
    color: #007bff;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}

.course p {
    color: #666666;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.calendar {
    width: 100%;
}

#scheduleTable {
    table-layout: fixed;
}

#scheduleTable th,
#scheduleTable td {
    width: calc(100% / 6);
    height: 60px;
    padding: 10px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.selected-course {
    background-color: #ffffffa5;
}

.not-selected-course {
    background-color: #ffffff;
}